<form class="form-list">
    <form-list-header [crudForm]="this"></form-list-header>
    <div class="form-body">
        <h6 class="text-muted" tlt>Críterios de Búsqueda</h6>
        <div class="panel-search">
            <div class="row">
                <div class="col-sm-4 form-group">
                    <label for="txtJobCategoryID">
                        Categoría Laboral
                    </label>
                    <p class="input-group">
                        <select [(ngModel)]="search.JobCategoryID" class="form-control" autocomplete="off"
                            placeholder="Categoría Laboral" name="txtJobCategoryID">
                            <option [ngValue]=undefined selected> - Todas -</option>
                            <option [value]="T.JobCategoryID"
                                *ngFor="let T of JobCategoryList | orderBy:'JobCategoryName'">
                                {{ T.JobCategoryName }}</option>
                        </select>


                    </p>
                </div>

                <div class="col-sm-3 form-group">
                    <crud-button-search-reset [crudForm]="this"></crud-button-search-reset>
                </div>
            </div>
        </div>
    

    <!-- <div class="form-body">
        <table class="table table-condensed table-bordered table-sm table-hover">
            <thead class="thead-dark" ngbTooltip="{{recordList?.length}} Registros" data-container="body">
                <tr>
                    <th>
                        <th-sort text="Fecha" fieldName="JobPostDate" [(listOrder)]="recordListOrder" default="ASC">
                        </th-sort>
                    </th>
                    <th>
                        <th-sort text="Empleador" fieldName="UserName" [(listOrder)]="recordListOrder" default="ASC">
                        </th-sort>
                    </th>
                    <th>
                        <th-sort text="Título" fieldName="JobPostName" [(listOrder)]="recordListOrder" default="ASC">
                        </th-sort>
                    </th>
                    <th>
                        <th-sort text="Categoría" fieldName="JobCategoryName" [(listOrder)]="recordListOrder"
                            default="ASC"></th-sort>
                    </th>
                    <th>
                        <th-sort text="Estado" fieldName="JobApplicanceStatusName" [(listOrder)]="recordListOrder"
                            default="ASC"></th-sort>
                    </th>
                    <th>
                        <th-sort text="Descripcion" fieldName="JobPostDescription" [(listOrder)]="recordListOrder"
                            default="ASC"></th-sort>
                    </th>
                </tr>
            </thead> 
            <tbody>-->
                <div class="1container" style="margin-top: 5px;">
                <div class="row" 
                    >
                    <!-- <td>{{r.JobPostDate | date:'dd/MM/yyyy'}}</td>
                    <td>{{r.UserName}}</td>
                    <td>{{r.JobPostName}}</td>
                    <td>{{r.JobCategoryName}}</td>
                    <td>{{r.JobApplicanceStatusName}}</td>
                    <td>{{r.JobPostDescription}}</td> -->
                    
                      <div class="col-sm-12 col-lg-6 h-100" 
                      (click)="viewRecord(r)" [ngClass]="{'table-info': r.JobPostID === selectedID}"
                       *ngFor="let r of recordList | search:searchText.split(' ')[0] | search:searchText.split(' ')[1] | search:searchText.split(' ')[2] | orderBy:recordListOrder">
                        
                          <div class="card  h-100">
                            <div class="card-body justify-content-start  h-100">
                              <h5 class="card-title">{{r.JobPostName}}</h5>
                              <p class="card-text">{{r.JobPostDescription}}</p>
                            </div>
                          
                        </div>
                      </div>
                    </div>
                </div>
            <!-- </tbody> -->
        <!-- </table> -->
    <!-- </div> -->
</div>
</form>