<form #crudView="ngForm" class="form-list">
	<form-list-header [crudForm]="this"></form-list-header>

	<div class="form-body">

		<div class="row">
			<div class="col-sm-3 form-group">
				<label tlt>
					Tabla
				</label>

				<select [(ngModel)]="search.DataTableID" class="form-control" autocomplete="off"
					tlt placeholder="Idioma" (ngModelChange)="getList()" name="txDataTableID">
					<option [ngValue]=undefined selected tlt> - Seleccione -</option>
					<option [value]="T.DataTableID" *ngFor="let T of dataTableList | orderBy:'DataTableName'">{{
						T.DataTableName }}</option>
				</select>

			</div>
			<div class="col-sm-2 form-group">
				<label tlt>
					Idioma
				</label>

				<select [(ngModel)]="search.LanguageID" class="form-control" autocomplete="off" placeholder="Idioma"
					(ngModelChange)="getList()" name="txLanguageID">
					<option [ngValue]=undefined selected> - Seleccione -</option>
					<option [value]="T.LanguageID" *ngFor="let T of languageList | orderBy:'LanguageName'">{{
						T.LanguageName }}</option>
				</select>

			</div>

			<div class="col-sm-4 form-group">
				<label tlt>
					Filtros
				</label>

				<input type="text" class="form-control" [(ngModel)]="searchText" name="searchText"
					tlt placeholder="Filtros...." />

			</div>

			<div class="col-sm-2 form-group">
                <label for="chkActive" tlt>
                    Sin Traducción
                </label>
                <input type="checkbox" [(ngModel)]="notTranslated" class="form-control form-checkbox" autocomplete="off"
                    name="notTranslated" />

            </div>


		</div>

		<table class="table table-condensed table-bordered table-sm table-hover">
			<thead class="thead-dark" ngbTooltip="{{recordList?.length}} Registros" data-container="body">
				<tr>
					<th>
						<th-sort text="Texto" fieldName="Text" [(listOrder)]="recordListOrder" default="ASC"></th-sort>
					</th>
					<th>
						<th-sort text="Traducción" fieldName="Translation" [(listOrder)]="recordListOrder">
						</th-sort>
					</th>


				</tr>
			</thead>
			<tbody *ngFor="let r of recordList | search:searchText.split(' ')[0] | search:searchText.split(' ')[1] | search:searchText.split(' ')[2] | orderBy:recordListOrder  ; let index=index">
				<tr *ngIf="!notTranslated || (notTranslated && !r.Translation)">
					<td>{{r.Text}}</td>
					<td>
						<input type="text" class="form-control" [(ngModel)]="r.Translation" [ngModelOptions]="{updateOn: 'blur'}"
							(blur)="translationChanged(r)" [name]="'RoleMenuItemChecked' + index" />
					</td>

				</tr>
			</tbody>
		</table>

	</div>

</form>