<form class="form-list">
	<form-list-header [crudForm]="this"></form-list-header>
	<div class="form-body">
		<h6 class="text-muted" tlt>Críterios de Búsqueda</h6>
		<div class="panel-search">
			<div class="row">
				<div class="col-sm-1 form-group">
					<label for="txtCompanyID">
						Código
					</label>
					<input type="text" [(ngModel)]="search.CompanyID" class="form-control" autocomplete="off"
						style="text-align: right" numeric="0" placeholder="Código" name="txtCompanyID" />
				</div>
				<div class="col-sm-9 form-group">
					<label for="txtCompanyName">
						Nombre
					</label>
					<input type="text" [(ngModel)]="search.CompanyName" class="form-control" autocomplete="off"
						placeholder="Nombre" name="txtCompanyName" />
				</div>
				<div class="col-sm-3 form-group">
					<label for="txtCompanyTypeID">
						Tipo de Empresa
					</label>
					<p class="input-group">
						<select [(ngModel)]="search.CompanyTypeID" class="form-control" autocomplete="off"
							placeholder="Tipo de Empresa" name="txtCompanyTypeID">
							<option [ngValue]=undefined selected> - Todos -</option>
							<option [value]="T.CompanyTypeID"
								*ngFor="let T of CompanyTypeList | orderBy:'CompanyTypeName'">{{ T.CompanyTypeName }}
							</option>
						</select>

					</p>
				</div>
				<div class="col-sm-3 form-group">
					<crud-button-search-reset [crudForm]="this"></crud-button-search-reset>
				</div>
			</div>
		</div>

		<crud-button-new [crudForm]="this"></crud-button-new>



		<table class="table table-condensed table-bordered table-sm table-hover">
			<thead class="thead-dark" ngbTooltip="{{recordList?.length}} Registros" data-container="body">
				<tr>
					<th>
						<th-sort text="Código" fieldName="CompanyID" [(listOrder)]="recordListOrder"></th-sort>
					</th>
					<th>
						<th-sort text="Nombre" fieldName="CompanyName" [(listOrder)]="recordListOrder" default="ASC">
						</th-sort>
					</th>
					<th>
						<th-sort text="Tipo de Empresa" fieldName="CompanyTypeName" [(listOrder)]="recordListOrder">
						</th-sort>
					</th>

				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let r of recordList | search:searchText.split(' ')[0] | search:searchText.split(' ')[1] | search:searchText.split(' ')[2] | orderBy:recordListOrder"
					(click)="viewRecord(r)" [ngClass]="{'table-info': r.CompanyID === selectedID}">
					<td class="td-right">{{r.CompanyID | number:'1.0-0'}}</td>
					<td>{{r.CompanyName}}</td>
					<td>{{r.CompanyTypeName}}</td>

				</tr>
			</tbody>
		</table>

	</div>
</form>