<form #crudView="ngForm" class="form-crud">
    <crud-toolbar [form]="this"></crud-toolbar>

    <div class="form-body">
		<div class="row">
			<div class="col-sm-1 form-group">
	<label for="txtJobRequestID" >
			Código
		</label>
		<input type="text" [(ngModel)]="record.JobRequestID" class="form-control" autocomplete="off" style="text-align: right" [crud-db-generated]="action" numeric="0" 
				placeholder="Código" name="txtJobRequestID" />
</div><div class="col-sm-9 form-group">
	<label for="txtJobRequestName" >
			Título
		</label>
		<input type="text" [(ngModel)]="record.JobRequestName" class="form-control" autocomplete="off"  [crud-required]="action"  
				placeholder="Título" name="txtJobRequestName" />
</div><div class="col-sm-12 form-group">
		<label for="txaJobRequestDescription" >
			Descripción
		</label>
		<textarea [(ngModel)]="record.JobRequestDescription" class="form-control" autocomplete="off"  [crud-required]="action" rows="3"
				placeholder="Descripción" name="txaJobRequestDescription"></textarea>

</div><div class="col-sm-3 form-group">
    <label for="txtCompanyID" >
        Empresa
    </label>
    <p class="input-group">
    <input id="typeahead-template" type="text" class="form-control" [(ngModel)]="record.Company"
        name="CompanyID" [crud-required]="action" [ngbTypeahead]="tableSearch('Company')"
        [focusFirst]='true' [editable]='false' autocomplete='off' crud-typeahead
        [displayFieldName]="'CompanyName'" placeholder="Empresa"
        (ngModelChange)="record.CompanyID = record.Company?.CompanyID" />
        <button type="button" (click)="tableList(record,'Company')" class="btn btn-open" crud-show-c-u="{{action}}">
	<img src="assets/images/form-list.svg" />
</button>
        
    </p>
</div><div class="col-sm-4 form-group">
	<label for="txtJobCategoryID" >
		Categoría Laboral
	</label>
    <p class="input-group">    
	<select [(ngModel)]="record.JobCategoryID"  class="form-control"  autocomplete="off"  [crud-required]="action" placeholder="Categoría Laboral" name="txtJobCategoryID"> 
		<option [ngValue]=undefined selected> - Seleccione -</option>
		<option [value]= "T.JobCategoryID" *ngFor="let T of JobCategoryList | orderBy:'JobCategoryName'">{{ T.JobCategoryName }}</option>   			    
	</select>
	
	
	</p>
</div>
		</div>

		<nav ngbNav #nav="ngbNav" class="nav-tabs" [destroyOnHide]="false"><ng-container ngbNavItem>
<a ngbNavLink tlt>Archivos</a>
<ng-template ngbNavContent>
<table class="table table-bordered  table-sm">
    <thead class="thead-dark">
        <tr>
            <th [crud-show-c-u]="action" style="width:24px"></th>
           <th style="width:50%">Descripción</th><th style="width:50%">Archivo</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let r of record.JobRequestFile ; let index=index">
            <tr *ngIf="r.EntityStatus !=='D'">
                <td crud-show-c-u="{{action}}" style="min-width:24px;max-width:24px">
                    <button type="button" class="btn btn-outline-danger" title="Eliminar"
                        (click)="itemRemove('JobRequestFile',r)">
                        <i class="fas fa-times"></i>
                    </button>
                </td>
                <td><input type="text" [(ngModel)]="r.JobRequestFileName" class="form-control" autocomplete="off"  [crud-non-required]="action"  
				placeholder="Descripción" (ngModelChange)="rowChanged(r)"  [name]="'JobRequestFileName' + index" /></td><td>
<div>
	<a target="_blank" href="{{baseUrl}}Api/file/{{r.FileID}}" *ngIf="r.PreviewFileID===false" >
				{{r.FileName}}
	</a>
	<a target="_blank" href="{{baseUrl}}Api/file/{{r.FileID}}" *ngIf="r.PreviewFileID===true">
		<img src="{{baseUrl}}Api/File/GetThumbnailFile/{{r.FileID}}" *ngIf="r.PreviewFileID===true" />
	</a>
</div>
</td>                
            </tr>
        </ng-container>
    </tbody>
    <tfoot>
        <tr style="font-weight:bold">
            <td colspan="1" crud-show-c-u="{{action}}">
               <label for="JobRequestFileFileID" class="btn btn-oil" [crud-show-c-u]="action">
	                <i class="fas fa-upload"></i>&nbsp;&nbsp;<span tlt>Subir Archivo</span>
                </label>
                <input type="file" name="JobRequestFileFileID" id="JobRequestFileFileID" (change)="uploadFileAndAddItem($event,'JobRequestFile')" />
            </td>
        </tr>
    </tfoot>
</table>
 </ng-template>
</ng-container><ng-container ngbNavItem>
<a ngbNavLink tlt>Herramientas</a>
<ng-template ngbNavContent>
<table class="table table-bordered table-striped table-sm">
    <thead class="thead-dark">
        <tr>
            <th style="min-width:56px">
                <div [crud-show-c-u]="action">
                    <check-uncheck [list]="record.JobRequestTool"></check-uncheck>
                </div>
            </th>
            <th style="width:100%">Herramienta</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of record.JobRequestTool ; let index=index">
            <td><input type="checkbox" [(ngModel)]="c.Checked" class="form-control"
                    [crud-non-required]="action" [name]="'JobRequestToolChecked' + index" /></td>
            <td style="vertical-align:middle;">{{c.ToolName}}</td>
        </tr>
    </tbody>
</table>
 </ng-template>
</ng-container><ng-container ngbNavItem>
<a ngbNavLink tlt>Usuarios de la publicación</a>
<ng-template ngbNavContent>

  <crud-taglist [idFieldName]="'UserID'" [displayFieldName]="'UserName'"
                    [(ngModel)]="record.JobRequestUser" placeholder="Usuarios de la publicación" name="User"
                    [ngbTypeahead]="tableSearchTag('User',record.JobRequestUser)" [action]="action"></crud-taglist>

                    
 </ng-template>
</ng-container></nav> <div [ngbNavOutlet]="nav"></div>
	</div>
	
</form>