<form>

    <div class="login-frame">
        <div class="login-container" style="display: block;margin: 0 auto;">

            <h3 tlt>Cambiar Contraseña</h3>
            <div class="inputs-container">

                <div class="form-group">
                    <label for="CurrentPassword" tlt>Contraseña Actual</label>
                    <input tlt placeholder="Contraseña Actual" class="form-control" name="CurrentPassword"
                        formControlName="CurrentPassword" type="password">
                </div>

                <div class="form-group">
                    <label for="NewPassword" tlt>Nueva Contraseña</label>
                    <input tlt placeholder="Nueva Contraseña" class="form-control" name="NewPassword"
                        formControlName="NewPassword" type="password">
                    <div *ngIf="form.controls['NewPassword'].touched && form.controls['NewPassword'].invalid"
                        style="color:red">
                        <small tlt>
                            * La contraseña debe tener al menos 8 caracteres. Una mayúscula, una minúscula y un número
                        </small>
                    </div>
                </div>


                <div class="form-group">
                    <label for="ConfirmedPassword" tlt>Confirme Contraseña</label>
                    <input tlt placeholder="Confirme Contraseña" class="form-control" name="ConfirmedPassword"
                        formControlName="ConfirmedPassword" type="password">

                    <div *ngIf="form.controls['ConfirmedPassword'].touched && form.controls['NewPassword'].value !== form.controls['ConfirmedPassword'].value"
                        style="color:red">
                        <small tlt>
                            * Las contraseñas no coinciden
                        </small>
                    </div>
                </div>


            </div>
            <div class="buttons-container">
                <button class="btn btn-success" [disabled]="!validSubmit()" (click)="changePassword()" tlt>Cambiar
                    Contraseña</button>
            </div>
        </div>
    </div>


</form>