<h1>aa</h1>
<input type="text" [(ngModel)]="searchText">
<!-- <pre>{{recordList|json}}</pre> -->
<div class="containter">
    <table class="table table-bordered">
        <thead><tr>
            <th>Nombre</th>
            <th>Apellido</th>
              

        </tr></thead>
        <tbody>
            <tr *ngFor="let x of recordList | search:searchText:['CompanyName','CompanyID']  | orderBy:'CompanyName'" >

                <td>{{x.CompanyName}}</td>
                <td>{{x.CompanyID}}</td>



            </tr>
        </tbody>
    </table>
</div>