<div style="margin:0; text-align: center;padding-top: 20px;">
                         
            <h2 >Bienvenido a emmployme</h2>
            <div class="inner cover">
              
              
                Employme es una web que ayuda a los jóvenes a conseguir su primer empleo. Ofrecemos una base de datos de empleos para que los jóvenes puedan buscar y aplicar a los empleos que mejor se adapten a sus necesidades.
              
              <br>  <br>
                 <button routerLink="/JobPost" class="btn btn-lg btn-default">Publicar empleo</button>           
                 <button routerLink="/JobOpportunity" class="btn btn-lg btn-default">Busca tu trabajo ideal</button>
                 <button routerLink="/MyOpportunity" class="btn btn-lg btn-default">Ver mis aplicaciones</button>

              
            </div>
  
          </div>