
<div style="padding:40px ;">

    <div class="site-wrapper">

        <div class="site-wrapper-inner">
  
          <div class="container">
  
           
  
                         
            <h1>Bienvenido a emmployme</h1>
            <div class="inner cover">
              
              <p class="lead">
                Employme es una web que ayuda a los jóvenes a conseguir su primer empleo. Ofrecemos una base de datos de empleos para que los jóvenes puedan buscar y aplicar a los empleos que mejor se adapten a sus necesidades.</p>
              <p class="lead">
                
                 <button routerLink="/JobPost" class="btn btn-lg btn-default">Publicar empleo</button>           
                 <button routerLink="/JobOpportunity" class="btn btn-lg btn-default">Busca tu trabajo ideal</button>
                 <button routerLink="/MyOpportunity" class="btn btn-lg btn-default">Ver mis aplicaciones</button>

              </p>
            </div>
  
          </div>
  
        </div>
  
      </div>
</div>