<form #crudView="ngForm" class="form-crud">
    <crud-toolbar [form]="this"></crud-toolbar>

    <div class="form-body">
        <div class="row">
            <div class="col-sm-2 form-group">
                <label for="txtjobPostDate">
                    Fecha
                </label>
                <p class="input-group">
                    <input type="text" ngbDatepicker #txtjobPostDate="ngbDatepicker" style="max-width:120px"
                        [(ngModel)]="record.JobPostDate" [crud-required]="action" name="txtJobPostDate"
                        class="form-control" onfocus="blur();">

                    <span (click)="txtjobPostDate.toggle()" class="btn btn-outline-secondary" style="cursor: pointer;"
                        crud-show-c-u="{{action}}" tabindex="-1">
                        <i class="far fa-calendar-alt"></i>
                    </span>
                </p>
            </div>

            <div class="col-sm-9 form-group">
                <label for="txtJobPostName">
                    Título
                </label>
                <input type="text" [(ngModel)]="record.JobPostName" class="form-control" autocomplete="off"
                    [crud-required]="action" placeholder="Título" name="txtJobPostName" />
            </div>
            <div class="col-sm-12 form-group">
                <label for="txaJobPostDescription">
                    Descripción
                </label>
                <textarea [(ngModel)]="record.JobPostDescription" class="form-control" autocomplete="off"
                    [crud-required]="action" rows="3" placeholder="Descripción" name="txaJobPostDescription"></textarea>

            </div>
            <div class="col-sm-4 form-group">
                <label for="txtJobCategoryID">
                    Categoría Laboral
                </label>
                <p class="input-group">
                    <select [(ngModel)]="record.JobCategoryID" class="form-control" autocomplete="off"
                        [crud-required]="action" placeholder="Categoría Laboral" name="txtJobCategoryID">
                        <option [ngValue]=undefined selected> - Seleccione -</option>
                        <option [value]="T.JobCategoryID" *ngFor="let T of JobCategoryList | orderBy:'JobCategoryName'">
                            {{ T.JobCategoryName }}</option>
                    </select>


                </p>
            </div>
            <div class="col-sm-4 form-group">
                <label for="txtJobPostStatusID">
                    Estado
                </label>
                <p class="input-group">
                    <select [(ngModel)]="record.JobPostStatusID" class="form-control" autocomplete="off"
                        [crud-required]="action" placeholder="Estado" name="txtJobPostStatusID">
                        <option [ngValue]=undefined selected> - Seleccione -</option>
                        <option [value]="T.JobPostStatusID"
                            *ngFor="let T of JobPostStatusList | orderBy:'JobPostStatusName'">
                            {{ T.JobPostStatusName }}</option>
                    </select>


                </p>
            </div>
        </div>
        <nav ngbNav #nav="ngbNav" class="nav-tabs" [destroyOnHide]="false">
            <ng-container ngbNavItem>
                <a ngbNavLink tlt>Habilidades</a>
                <ng-template ngbNavContent>
                    <table class="table table-bordered table-striped table-sm">
                        <thead class="thead-dark">
                            <tr>
                                <th style="min-width:56px">
                                    <div [crud-show-c-u]="action">
                                        <check-uncheck [list]="record.JobPostSkill"></check-uncheck>
                                    </div>
                                </th>
                                <th style="width:100%">Habilidades</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let c of record.JobPostSkill | filter:{'JobCategoryID':record.JobCategoryID} ; let index=index">
                                <td><input type="checkbox" [(ngModel)]="c.Checked" class="form-control"
                                        [crud-non-required]="action" [name]="'JobPostSkillChecked' + index" /></td>
                                <td style="vertical-align:middle;">{{c.JobCategorySkillName}}</td>

                            </tr>
                        </tbody>
                    </table>
                </ng-template>
            </ng-container>
            <ng-container ngbNavItem>
                <a ngbNavLink tlt>Postulantes</a>
                <ng-template ngbNavContent>

                    <table class="table table-condensed table-bordered table-sm table-hover">
                        <thead class="thead-dark" ngbTooltip="{{record.JobApplicance?.length}} Registros"
                            data-container="body">
                            <th>Fecha</th>
                            <th>Postulante</th>
                            <th>Carta de Presentación</th>
                            <th>Archivo</th>
                            <th>Estado</th>
                        </thead>

                        <tbody>
                            <tr *ngFor="let r of record.JobApplicance | orderBy:JobApplicanceID">
                                <td>{{r.ApplicanceDate | date:'dd/MM/yyyy'}}</td>
                                <td>{{r.UserName}}</td>
                                <td>{{r.JobApplicanceText}}</td>
                                <td>

                                    <a target="_blank"
                                        href="{{baseUrl}}Api/file/{{r.JobApplicanceFileID}}">{{r.FileName}}</a>
                                </td>
                                <td>
                                    <select [(ngModel)]="r.JobApplicanceStatusID" class="form-control" autocomplete="off"
                                    (change)="UpdateJobAppicanceStatus(r)"
                                        placeholder="Estado" name="txtJobApplicanceID">
                                        <option [ngValue]=undefined selected> - Seleccione -</option>
                                        <option [value]="T.JobApplicanceStatusID"
                                            *ngFor="let T of JobApplicanceStatusList | orderBy:'JobApplicanceStatusName'">
                                            {{ T.JobApplicanceStatusName }}</option>
                                    </select>


                                </td>

                            </tr>
                        </tbody>
                    </table>


                </ng-template>
            </ng-container>
        </nav>
        <div [ngbNavOutlet]="nav"></div>
    </div>

</form>