<form [formGroup]="form">

    <div class="login-frame">
        <div class="login-logo">
            <img src="assets/images/logos.png" style="width: 100%;">
        </div>

        <div class="login-container">
            <h5 tlt>Generación de Contraseña</h5>
            <br />
            <div class="inputs-container" *ngIf="status !=='OK'">
                <div class="form-group">
                    <label for="NewPassword" tlt>Nueva Contraseña</label>
                    <input tlt placeholder="Nueva Contraseña" class="form-control" name="NewPassword"
                        formControlName="NewPassword" type="password" ngModel (ngModelChange)="status='PENDING'">
                    <div *ngIf="form.controls['NewPassword'].touched && form.controls['NewPassword'].invalid"
                        style="color:red">
                        <small tlt>
                            * La contraseña debe tener al menos 8 caracteres. Una mayúscula, una minúscula y un número
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="ConfirmedPassword" tlt>Confirme Contraseña</label>
                    <input tlt placeholder="Confirme Contraseña" class="form-control" name="ConfirmedPassword"
                        formControlName="ConfirmedPassword" type="password" ngModel (ngModelChange)="status='PENDING'">
                    <div *ngIf="form.controls['ConfirmedPassword'].touched && form.controls['NewPassword'].value !== form.controls['ConfirmedPassword'].value"
                        style="color:red">
                        <small tlt>
                            * Las contraseñas no coinciden
                        </small>
                    </div>
                </div>

                <h6 *ngIf="status !=='PENDING'" class="text-danger">{{status}}</h6>

                <div class="buttons-container">
                    <button class="btn btn-success" [disabled]="!validSubmit()" (click)="generatePassword()" tlt>Generar
                        Contraseña</button>
                </div>
            </div>
            <div *ngIf="status ==='OK'">
            <h6  class="text-success" tlt>Contraseña ha sido generada</h6>
            <a style="text-align: center;" routerLink="/Login" routerLinkActive="active"><span tlt>Volver a
                    Ingreso</span></a>
                </div>

            <div class="text-sm-center " *ngIf="status !=='OK'">
                <a style="text-align: center;" routerLink="/Login" routerLinkActive="active"><span tlt>Volver a
                        Ingreso</span></a>
            </div>
        </div>
    </div>
</form>