.noshow
{
  display: none;
}

.languageSelect
{
  background-color: #E2E2E2;
  color: black;

}

.languageSelect:active, .languageSelect:hover {
  outline-color: #E2E2E2;
  color: black;
}

.navbar-nav .dropdown-menu
{
  /*background-color: lightgrey;*/
  /*background-color:#ED1C24;*/
  color: black;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.dropdown-item
{
  color: black !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: black;
  display: contents !important;
  /*font-size: 18px;*/
}

.dropdown-item.active, .dropdown-item:active {
  
  /* color: #ED1C24 !important; */
  text-decoration: none;
  background-color: #E2E2E2;
  font-weight: bold;
}

.dropdown-item.active:hover, .dropdown-item:active:hover {
  color: lightgrey;
  text-decoration: none;
  background-color: rgb(206, 206, 206);
  
}


.navbar-crud
{
  z-index: 1030;
  /*
  background-color:#ED1C24;
  */
  border-bottom: 8px solid rgb(117, 116, 116) ;
  color:white;
  /*box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;*/
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color:#E2E2E2;
  color:white;
  
}

.logout {
  color: lightgray;
  cursor: pointer;
}
.logout:hover {
  color: black;
}

.navbar-toggler
{
  background-color: gray;
  padding: 2px;
}

