<form #crudView="ngForm">
<h3 id="div1">Registrate y comenzá a trabajar</h3>


<div class="row">
    <div class="col-sm-6 col-12  form-group" >
        <label  tlt>
            Nombre y Apellido
        </label>
        <input type="text" [(ngModel)]="record.UserName" class="form-control" autocomplete="off"
            [crud-required]="action" tlt-placeholder="Nombre y Apellido" name="txtUserName" />
    </div>

    <div class="col-sm-8 col-12  form-group">
        <label for="txtEmail" tlt>
            E Mail
        </label>
        <input type="text" [(ngModel)]="record.Email" class="form-control" autocomplete="off" [crud-required]="action"
            tlt-placeholder="E Mail" name="txtEmail" />
    </div>

    
    <div class="col-4 form-group">
        <label for="txtZipCode" tlt>
            Código Postal
        </label>
        <input type="text" [(ngModel)]="record.ZipCode" class="form-control" autocomplete="off" numeric="0" maxlength="4" minlength="4"
            [crud-required]="action" tlt-placeholder="Código Postal" name="txtZipCode"  />
    </div>
    <div class="col-sm-4 form-group">
        <label for="txtBirthDate" tlt>
            Fecha Nacimiento
        </label>
        <p class="input-group">
            <input type="text" ngbDatepicker #txtBirthDate="ngbDatepicker" style="max-width:120px"
                [(ngModel)]="record.BirthDate" [crud-required]="action" name="txtBirthDate" class="form-control"
                onfocus="blur();">

            <span (click)="txtBirthDate.toggle()" class="btn btn-outline-secondary" style="cursor: pointer;"
                crud-show-c-u="{{action}}" tabindex="-1">
                <i class="far fa-calendar-alt"></i>
            </span>
        </p>
    </div>
    <div class="col-sm-4 form-group">
        <label for="chkReceiveNotification" tlt>
            Recibe Notificaciones
        </label>
        <input type="checkbox" [(ngModel)]="record.ReceiveNotification" class="form-control form-checkbox"
            autocomplete="off" [crud-non-required]="action" name="chkReceiveNotification" />

    </div>

    <div class="col-sm-8" style="display: inline;padding: 10px;font-weight: bold;">
        <span>Solicitar Empleo</span> &nbsp;
        <input type="radio" [(ngModel)]="record.RoleID" class=" form-checkbox"  value="JOBAPPLICANT" name="RoleID"/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                                         
        <span>Dar Empleo</span>&nbsp;
        <input type="radio" [(ngModel)]="record.RoleID" class=" form-checkbox" value="JOBPOSTER" name="RoleID"/>

    </div>

</div>

<div class="row">
    <button class="btn btn-oil" (click)="register(crudView.valid)" tlt>Registrate !</button>
</div>

</form>